# .clang-format
BasedOnStyle: Google

# Indentation
IndentWidth: 4

# Includes
SortIncludes: CaseSensitive

# Line Breaking
ColumnLimit: 100
AlwaysBreakBeforeMultilineStrings: true

# Pointer and Reference Alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Args
BinPackParameters: false

# Short expressions placement
AllowShortFunctionsOnASingleLine: Empty
